@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Poppins', sans-serif;
  height: 100vh;
  background: #62A1FF;
  color: #fff;
}

.circle {
  background-color: #3C8AFF;
  position: fixed;
  width: 50%;
  border-radius: 50%;
  z-index: -1;
}

.circle:after {
  content: "";
  display: block;
  padding-bottom: 100%;
}

a {
  text-decoration: none;
  color: #000;
}

p {
  line-height: 1.7;
}

ul {
  list-style: none;
}

li {
  line-height: 2.2;
}

h1,
h2,
h3 {
  font-weight: 600;
  margin-bottom: 10px;
}

.page-container{
  position: relative;
  min-height: 100vh;
}

.container {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
  padding-bottom: 12rem;
  text-align: center;
  display:flex;
  flex-direction:column;
}

.brandlogo{
  color: #FFD600;
  font-weight: bold;
  font-size:xx-large;
}

.brandlogo-part{
  color: #fff;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 10%;
  margin-bottom: 60px;
  background-color: rgba(60, 138, 255, 0.5);
  box-shadow: 0px 0px 4px 4px rgba(0, 0, 0, 0.222)
}

.header ul {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header ul li {
  margin-left: 20px;
}

.header ul li a {
  display: flex;
  align-items: center;
  color: #fff;
}

.header ul li a:hover {
  color: rgb(104, 104, 104);
}

.header ul li a svg {
  margin-right: 5px;
}

.footer {
  background-color: #555;
  width: 100%;
  padding: 0 15%;
  display: flex;
  flex-direction: column;
  color: rgb(183, 180, 180);
  position: absolute;
  bottom: 0;
  height: 12rem;
}

.footer-top{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-top: 30px;
}


.footer hr{
  height: 0px;
  border-bottom: 0;
  border-left: 0;
  border-right: 0;
  border-width: solid 3px;
  margin-top: 10px;
}

.footer-bottom{
  text-align: center;
  padding-bottom: 15px;
}

.footer .footer-link {
  color: rgb(183, 180, 180);
}

.footer-link:hover{
  color: rgb(242, 242, 242);
  
}


.heading {
  font-size: 2rem;
  font-weight: 700;
  margin-bottom: 50px;
  padding: 0 20px;
  color: #FFD600;
}

.heading p {
  color: #fff;
}

.goals {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 10px;
}

.teacherCard {
  background-color: hsla(0, 0%, 96%, 0.9);
  margin: 10px 0;
  color: #000;
  border-radius: 10px;
  box-shadow: 0px 0px 2px 1px rgba(0, 0, 0, 0.15);
  align-items: center;
}

.card-container{
  margin: 12px;
  display: flex;
  gap: 1rem;
  align-items: center;
  min-height: 10rem;

}

.card-left{
  width: 25%;
}

.card-center{
  text-align: left;
  display: flex;
  flex-direction: column;
  gap: 0px;
  width: 50%;
  margin-top: 10px;
  margin-bottom: 10px;
}

.card-right{
  width: 20%;
  margin-right: 10px;
}


.card-img{
  border-radius: 50%;
  height: 8rem;
}

.teacherCard h2{
  font-size: 1.2rem;
  line-height: 1.2;
  padding: 0;
  margin: 0;
}

.teacherCard h3{
  font-size: 0.9rem;
  margin: 0;
  word-wrap: break-word;
  color: rgb(82, 82, 82);
}

.btn-card {
  border: 2px solid #3C8AFF;
  width: 100%;
  margin-bottom: 20px;
  font-size: 1rem;
  font-weight: 750;
}

.btn-profile{
  color: #fff;
  background: #3C8AFF;
}

.btn-contact{
  color: #3C8AFF;
  background: #3c8aff00;
}

.teacherCard .close {
  position: absolute;
  top: 10px;
  right: 15px;
  cursor: pointer;
  border: none;
  background: none;
}

.form,
.content {
  width: 70%;
  margin: 0 auto;
}

.form-group {
  margin-bottom: 10px;
  display: flex;
  gap: 1rem;
}

.form-group input,
.form-group textarea,
.form-group select {
  padding: 10px;
  border: 1px solid #e6e6e6;
  border-radius: 5px;
  margin-bottom: 10px;
  font-family: inherit;
  flex-direction: column;
}

.multiselect{ 
  margin-bottom: 20px;
  margin-top: 0;
  font-family: inherit;
  flex-direction: column;
  flex: 1;
  width: 100%;
}

.segmented-control{
  margin-bottom: 20px;
  width: 100%;
  
}

.new{
  display: flex;
  gap: 1rem;
  background-color: #fff;
  padding-inline: 10px;
  border-radius: 5px;
  margin-bottom: 20px;
}

.new .switch{


  margin-bottom: 0px;
  width: 100%;
  flex: 1;
  float: left;
  align-self:center;
}

.new .switch-label {
  font-size: .9rem;
  font-family: inherit;
  flex: 4;
  align-self: center;
  float: left;
  color: #000;
  text-align: left;
}

.mantine-Switch-body{
  align-self: center;
}

.form-control{
  flex: 1;
  width: 100%;
}

.form-radio{
  flex-direction: row;
  align-self: center;
  width: 100%;
}

.form-radio input{
  flex: 1;
}

.form-group label {
  text-align: left;
  display: block;
  margin: 0 0 5px 3px;
}

.btn {
  padding: 10px 20px;
  border-radius: 5px;

  cursor: pointer;
  text-align: center;
  appearance: button;
  display: flex;
  align-items: center;
  justify-content: center;
}

.btn svg {
  margin-right: 8px;
}

.btn-reverse {
  background: #fff;
  color: #000;
}

.btn-block {
  width: 100%;
  margin-bottom: 20px;
  border: 1px solid #FFD600;
  background: #FFD600;
  color: #fff;
  font-size: 16px;
  font-weight: 700;
}

.btn:hover {
  transform: scale(0.98);
}

.view-profile{
  margin-bottom: 30px;
}

.profile-container{
  display: flex;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0px 0px 2px 1px rgba(0, 0, 0, 0.222);

}

.profile-card{
  padding: 25px 10px 20px;
  color:  #3C8AFF;
  margin:10px;
}

.profile-left-card{
  margin: 20px;
  flex: 1;
  background-color: #3C8AFF;
  color: #fff;
  border-radius: 10px;
  box-shadow: 0px 0px 2px 1px rgba(0, 0, 0, 0.222);
}

.profile-left-card img{
  width: 200px;
  border-radius: 50%;
}

.profile-center-card{
flex: 1;
text-align: left;
}

.view-profile-label{
  color: #fff;
  background-color: #3C8AFF;
  padding: 5px;
  border-radius: 5px;
  margin-bottom: 5px;

}

.view-profile-contact{
  padding: 5px;
  border-radius: 5px;
  margin-bottom: 5px;
  box-shadow:0px 0px 0px 2px #3C8AFF inset;
}

.show-contact{
  margin-left: 10px;
  font-size:medium;
  cursor: pointer;
}

.icon{
  margin-right: 5px;
}

.profile-right-card{
  flex:1;
  text-align: left;

}

.view-profile-set{
  margin-bottom: 20px;
}

.loadingSpinnerContainer {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 5000;
  display: flex;
  justify-content: center;
  align-items: center;
}


.loadingSpinner {
  width: 64px;
  height: 64px;
  border: 8px solid;
  border-color: #000 transparent #555 transparent;
  border-radius: 50%;
  animation: spin 1.2s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@media (max-width: 600px) {
  .form {
    width: 90%;
  }

  .heading h1 {
    font-size: 2rem;
  }

  .heading p {
    font-size: 1.5rem;
  }
}